html{
    color-scheme: light dark;   
}
body{
    font-family: sans-serif;
}
a{
    text-decoration-line: none;
}
img{
    width: 30%;
}

@media (max-aspect-ratio: 5/4) {
    img{
        width: 75%;
    }
}